ds4p-sender/clinically-adaptive-rules-client/src/main/resources/DS4PClinicallyAdaptiveRulesInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) 
	JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) 
	JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.ds4p.ehtac.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ds4p.ehtac.va.gov/"
	name="DS4PClinicallyAdaptiveRulesInterface">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ws.ds4p.ehtac.va.gov/"
				schemaLocation="DS4PClinicallyAdaptiveRulesInterface.xsd" />
		</xsd:schema>
	</types>
	<message name="setOrganizationalPolicy">
		<part name="parameters" element="tns:setOrganizationalPolicy" />
	</message>
	<message name="setOrganizationalPolicyResponse">
		<part name="parameters" element="tns:setOrganizationalPolicyResponse" />
	</message>
	<message name="getOrganizationalPolicy">
		<part name="parameters" element="tns:getOrganizationalPolicy" />
	</message>
	<message name="getOrganizationalPolicyResponse">
		<part name="parameters" element="tns:getOrganizationalPolicyResponse" />
	</message>
	<message name="getAllOrganizationalPolicy">
		<part name="parameters" element="tns:getAllOrganizationalPolicy" />
	</message>
	<message name="getAllOrganizationalPolicyResponse">
		<part name="parameters" element="tns:getAllOrganizationalPolicyResponse" />
	</message>
	<message name="getClinicalDomainRule">
		<part name="parameters" element="tns:getClinicalDomainRule" />
	</message>
	<message name="getClinicalDomainRuleResponse">
		<part name="parameters" element="tns:getClinicalDomainRuleResponse" />
	</message>
	<message name="setClinicalDomainTaggingRule">
		<part name="parameters" element="tns:setClinicalDomainTaggingRule" />
	</message>
	<message name="setClinicalDomainTaggingRuleResponse">
		<part name="parameters" element="tns:setClinicalDomainTaggingRuleResponse" />
	</message>
	<message name="getCASRuleSetStringByPOUObligationsAndHomeCommunityId">
		<part name="parameters"
			element="tns:getCASRuleSetStringByPOUObligationsAndHomeCommunityId" />
	</message>
	<message
		name="getCASRuleSetStringByPOUObligationsAndHomeCommunityIdResponse">
		<part name="parameters"
			element="tns:getCASRuleSetStringByPOUObligationsAndHomeCommunityIdResponse" />
	</message>
	<portType name="DS4PClinicallyAdaptiveRulesInterface">
		<operation name="setOrganizationalPolicy">
			<input
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/setOrganizationalPolicyRequest"
				message="tns:setOrganizationalPolicy" />
			<output
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/setOrganizationalPolicyResponse"
				message="tns:setOrganizationalPolicyResponse" />
		</operation>
		<operation name="getOrganizationalPolicy">
			<input
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/getOrganizationalPolicyRequest"
				message="tns:getOrganizationalPolicy" />
			<output
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/getOrganizationalPolicyResponse"
				message="tns:getOrganizationalPolicyResponse" />
		</operation>
		<operation name="getAllOrganizationalPolicy">
			<input
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/getAllOrganizationalPolicyRequest"
				message="tns:getAllOrganizationalPolicy" />
			<output
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/getAllOrganizationalPolicyResponse"
				message="tns:getAllOrganizationalPolicyResponse" />
		</operation>
		<operation name="getClinicalDomainRule">
			<input
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/getClinicalDomainRuleRequest"
				message="tns:getClinicalDomainRule" />
			<output
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/getClinicalDomainRuleResponse"
				message="tns:getClinicalDomainRuleResponse" />
		</operation>
		<operation name="setClinicalDomainTaggingRule">
			<input
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/setClinicalDomainTaggingRuleRequest"
				message="tns:setClinicalDomainTaggingRule" />
			<output
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/setClinicalDomainTaggingRuleResponse"
				message="tns:setClinicalDomainTaggingRuleResponse" />
		</operation>
		<operation name="getCASRuleSetStringByPOUObligationsAndHomeCommunityId">
			<input
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/getCASRuleSetStringByPOUObligationsAndHomeCommunityIdRequest"
				message="tns:getCASRuleSetStringByPOUObligationsAndHomeCommunityId" />
			<output
				wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PClinicallyAdaptiveRulesInterface/getCASRuleSetStringByPOUObligationsAndHomeCommunityIdResponse"
				message="tns:getCASRuleSetStringByPOUObligationsAndHomeCommunityIdResponse" />
		</operation>
	</portType>
	<binding name="DS4PClinicallyAdaptiveRulesInterfacePortBinding"
		type="tns:DS4PClinicallyAdaptiveRulesInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="setOrganizationalPolicy">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getOrganizationalPolicy">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getAllOrganizationalPolicy">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getClinicalDomainRule">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="setClinicalDomainTaggingRule">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getCASRuleSetStringByPOUObligationsAndHomeCommunityId">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="DS4PClinicallyAdaptiveRulesInterface">
		<port name="DS4PClinicallyAdaptiveRulesInterfacePort" binding="tns:DS4PClinicallyAdaptiveRulesInterfacePortBinding">
			<soap:address
				location="http://174.78.146.228:8080/DS4PACSServices/DS4PClinicallyAdaptiveRulesInterface" />
		</port>
	</service>
</definitions>