ds4p-receiver/acs-service-client-au/src/wsdl/DS4PAuditService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. -->
<definitions targetNamespace="http://ws.ds4p.ehtac.va.gov/" name="DS4PAuditService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.ds4p.ehtac.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.ds4p.ehtac.va.gov/" schemaLocation="DS4PAuditService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="saveAuthorizationEvent">
    <part name="parameters" element="tns:saveAuthorizationEvent"/>
  </message>
  <message name="saveAuthorizationEventResponse">
    <part name="parameters" element="tns:saveAuthorizationEventResponse"/>
  </message>
  <message name="getAllAuthorizationEvent">
    <part name="parameters" element="tns:getAllAuthorizationEvent"/>
  </message>
  <message name="getAllAuthorizationEventResponse">
    <part name="parameters" element="tns:getAllAuthorizationEventResponse"/>
  </message>
  <message name="getAuthorizationByUId">
    <part name="parameters" element="tns:getAuthorizationByUId"/>
  </message>
  <message name="getAuthorizationByUIdResponse">
    <part name="parameters" element="tns:getAuthorizationByUIdResponse"/>
  </message>
  <message name="getAuthorizationByHealthCareObject">
    <part name="parameters" element="tns:getAuthorizationByHealthCareObject"/>
  </message>
  <message name="getAuthorizationByHealthCareObjectResponse">
    <part name="parameters" element="tns:getAuthorizationByHealthCareObjectResponse"/>
  </message>
  <message name="getAuthorizationByStartEndDates">
    <part name="parameters" element="tns:getAuthorizationByStartEndDates"/>
  </message>
  <message name="getAuthorizationByStartEndDatesResponse">
    <part name="parameters" element="tns:getAuthorizationByStartEndDatesResponse"/>
  </message>
  <message name="getAuthorizationEventByHIEMsgId">
    <part name="parameters" element="tns:getAuthorizationEventByHIEMsgId"/>
  </message>
  <message name="getAuthorizationEventByHIEMsgIdResponse">
    <part name="parameters" element="tns:getAuthorizationEventByHIEMsgIdResponse"/>
  </message>
  <message name="updateAuthorizationEventWithDRL">
    <part name="parameters" element="tns:updateAuthorizationEventWithDRL"/>
  </message>
  <message name="updateAuthorizationEventWithDRLResponse">
    <part name="parameters" element="tns:updateAuthorizationEventWithDRLResponse"/>
  </message>
  <message name="updateAuthorizationEventWithExecRules">
    <part name="parameters" element="tns:updateAuthorizationEventWithExecRules"/>
  </message>
  <message name="updateAuthorizationEventWithExecRulesResponse">
    <part name="parameters" element="tns:updateAuthorizationEventWithExecRulesResponse"/>
  </message>
  <message name="updateAuthorizationEventWithAnnotatedDoc">
    <part name="parameters" element="tns:updateAuthorizationEventWithAnnotatedDoc"/>
  </message>
  <message name="updateAuthorizationEventWithAnnotatedDocResponse">
    <part name="parameters" element="tns:updateAuthorizationEventWithAnnotatedDocResponse"/>
  </message>
  <portType name="DS4PAudit">
    <operation name="saveAuthorizationEvent">
      <input wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/saveAuthorizationEventRequest" message="tns:saveAuthorizationEvent"/>
      <output wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/saveAuthorizationEventResponse" message="tns:saveAuthorizationEventResponse"/>
    </operation>
    <operation name="getAllAuthorizationEvent">
      <input wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAllAuthorizationEventRequest" message="tns:getAllAuthorizationEvent"/>
      <output wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAllAuthorizationEventResponse" message="tns:getAllAuthorizationEventResponse"/>
    </operation>
    <operation name="getAuthorizationByUId">
      <input wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAuthorizationByUIdRequest" message="tns:getAuthorizationByUId"/>
      <output wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAuthorizationByUIdResponse" message="tns:getAuthorizationByUIdResponse"/>
    </operation>
    <operation name="getAuthorizationByHealthCareObject">
      <input wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAuthorizationByHealthCareObjectRequest" message="tns:getAuthorizationByHealthCareObject"/>
      <output wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAuthorizationByHealthCareObjectResponse" message="tns:getAuthorizationByHealthCareObjectResponse"/>
    </operation>
    <operation name="getAuthorizationByStartEndDates">
      <input wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAuthorizationByStartEndDatesRequest" message="tns:getAuthorizationByStartEndDates"/>
      <output wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAuthorizationByStartEndDatesResponse" message="tns:getAuthorizationByStartEndDatesResponse"/>
    </operation>
    <operation name="getAuthorizationEventByHIEMsgId">
      <input wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAuthorizationEventByHIEMsgIdRequest" message="tns:getAuthorizationEventByHIEMsgId"/>
      <output wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/getAuthorizationEventByHIEMsgIdResponse" message="tns:getAuthorizationEventByHIEMsgIdResponse"/>
    </operation>
    <operation name="updateAuthorizationEventWithDRL">
      <input wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/updateAuthorizationEventWithDRLRequest" message="tns:updateAuthorizationEventWithDRL"/>
      <output wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/updateAuthorizationEventWithDRLResponse" message="tns:updateAuthorizationEventWithDRLResponse"/>
    </operation>
    <operation name="updateAuthorizationEventWithExecRules">
      <input wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/updateAuthorizationEventWithExecRulesRequest" message="tns:updateAuthorizationEventWithExecRules"/>
      <output wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/updateAuthorizationEventWithExecRulesResponse" message="tns:updateAuthorizationEventWithExecRulesResponse"/>
    </operation>
    <operation name="updateAuthorizationEventWithAnnotatedDoc">
      <input wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/updateAuthorizationEventWithAnnotatedDocRequest" message="tns:updateAuthorizationEventWithAnnotatedDoc"/>
      <output wsam:Action="http://ws.ds4p.ehtac.va.gov/DS4PAudit/updateAuthorizationEventWithAnnotatedDocResponse" message="tns:updateAuthorizationEventWithAnnotatedDocResponse"/>
    </operation>
  </portType>
  <binding name="DS4PAuditPortBinding" type="tns:DS4PAudit">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="saveAuthorizationEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllAuthorizationEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAuthorizationByUId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAuthorizationByHealthCareObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAuthorizationByStartEndDates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAuthorizationEventByHIEMsgId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateAuthorizationEventWithDRL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateAuthorizationEventWithExecRules">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateAuthorizationEventWithAnnotatedDoc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DS4PAuditService">
    <port name="DS4PAuditPort" binding="tns:DS4PAuditPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

