ds4p-pilot/document-processor/client/src/main/resources/DocumentProcessor.wsdl

<wsdl:definitions name="ProcessDocumentService" targetNamespace="http://www.samhsa.gov/ds4ppilot/contract/documentprocessor" xmlns:di="http://www.samhsa.gov/ds4ppilot/schema/documentprocessor" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.samhsa.gov/ds4ppilot/contract/documentprocessor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema targetNamespace="http://www.samhsa.gov/ds4ppilot/schema/documentprocessor" xmlns:di="http://www.samhsa.gov/ds4ppilot/schema/documentprocessor" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.samhsa.gov/ds4ppilot/contract/documentprocessor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:element name="ProcessDocumentRequest">
				  <xsd:complexType>
					    <xsd:sequence>
						      <xsd:element name="document" type="xsd:string"/>
						      <xsd:element name="enforcementPolicies" type="xsd:string"/>
						      <xsd:element name="packageAsXdm" type="xsd:boolean"/>
						      <xsd:element name="senderEmailAddress" type="xsd:string"/>
						      <xsd:element name="recipientEmailAddress" type="xsd:string"/>
					    </xsd:sequence>
				  </xsd:complexType>
			</xsd:element>
			<xsd:element name="ProcessDocumentResponse">
				  <xsd:complexType>
					    <xsd:sequence>
						      <xsd:element name="processedDocument" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
						      <xsd:element name="maskedDocument" type="xsd:string"/>
					    </xsd:sequence>
				  </xsd:complexType>
			</xsd:element>
		</xsd:schema>  </wsdl:types>
  <wsdl:message name="ProcessDocumentRequest">
    <wsdl:part element="di:ProcessDocumentRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProcessDocumentResponse">
    <wsdl:part element="di:ProcessDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProcessDocumentServicePortType">
    <wsdl:operation name="ProcessDocument">
<wsdl:documentation>Takes a C32 document and a list of obligations, returns a processed C32 in a format
				specified by the privacy policies.
			</wsdl:documentation>
      <wsdl:input message="tns:ProcessDocumentRequest">
    </wsdl:input>
      <wsdl:output message="tns:ProcessDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessDocumentServiceBinding" type="tns:ProcessDocumentServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessDocument">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessDocumentService">
    <wsdl:port binding="tns:ProcessDocumentServiceBinding" name="ProcessDocumentPort">
      <soap:address location="http://localhost:90/DocumentProcessor/services/processdocumentservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>